body, html {
  /* overflow: hidden; */
  height: 100%;
  scrollbar-width: none;
}

/* For vertical scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: no background */
}


.rootContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.rootLayout {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
}

.sidebar {
  background-color: #222;
  color: whitesmoke;
  min-width: 180px;
  padding: 1rem;
  flex-shrink: 0;
}

.pageContent {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  min-height: 0;
  margin-bottom: 5rem;;
}

.pageContent::-webkit-scrollbar {
  width: 8px;
}

.pageContent::-webkit-scrollbar-track {
  background: transparent;
}

.pageContent::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}


.footerContainer {
  background-color: #f8f8f8;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 40px;
}
