.container {
  padding: 2rem;
  max-width: 100%;
  margin: auto;
  font-family: system-ui, sans-serif;
  overflow-x: hidden;
}

.heading {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #222;
  text-align: center;
}

.list {
  display: flex;
  /* width:100%; */
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 1rem;
  padding: 1rem 0;
  margin: 0;
  list-style: none;
  /* overflow-x: auto;s */
  /* scroll-snap-type: x mandatory; */
}

.listItem {
  background-color: #f9f9f9;
  flex: 0 0 auto;
  width: 180px;
  border-radius: 8px;
  transition: box-shadow 0.2s ease;
  padding: 1rem;
  cursor: pointer;
  border: .9px solid #ff7b00;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  /* scroll-snap-align: start; */

}

.listItem:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f8ff;
}

.link {
  text-decoration: none;
  color: #001aff;
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.9rem;
  color: #555;
}

.addBtn {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

/* Firefox */
.list {
  scrollbar-width: none; 
}

/* Chrome/Safari */
.list::-webkit-scrollbar {
  display: none;
}
