.nav {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: center;
}
.header {
  text-transform: capitalize;

}

.link {
  text-decoration: none;
  color: #555;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.link:hover {
  background: #b9d9e77c;
  color: black;
}

.active {
  background-color: #026592;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
.wrapper {
  margin-top: 50px;;
}

.header h2{
  font-size: 22px;
}

.nav{
gap:.2rem;
flex-direction:column;
align-items: center;
width: 100%;
text-align: center;

}
}