.nav {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.link {
  text-decoration: none;
  color: #555;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.link:hover {
  background: #b9d9e77c;
  color:black
}

.active {
  background-color: #026592;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
