@import url("../../index.css");


.sidebarInner {
  display: flex;
  flex-direction: column;
  height: 70%;
  margin-top:40px;
  background-color: var(--color-bg);
  box-shadow: 3px 3px 5px var(--color-border);
  border-radius:40px;
}

.logo {
  font-size: 10px;
  margin-bottom: 2rem;
  padding:40px;
  width:fit-content
}

.logo img {
  width: 200px;
  height: auto;
  display: block;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 70%;
}

.navLink {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  font-size:20px;
  padding: 0.5rem 1rem;
  border-radius: 14px;
  transition: background 0.2s ease;
}

.navLink:hover {
  background-color:var(--color-hover);
  color: var(--color-hover-text);
}

.active {
  background-color: var(--color-active);
  font-weight: 600;
}


@media screen and (max-width: 768px) {

  
  }