/* Footer.module.css */
.footer {
    background-color: #222;
    color: #bbb;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  